.neg-highlight{
  z-index: 10;

  opacity: 0.5;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: "red";

}
.pos-highlight{
  z-index: 10;

  opacity: 0.5;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: "blue";

}

.pos-rel {
  position: relative;
}
